.networks 
{
    background-color: #3a5f6f;
    color: white;
}
.nstp 
{
    background-color: #4d7253; 
    color: white;
}
.os 
{
    background-color: #753a3a; 
    color: white;
}
.programming 
{
    background-color: #5c3a75; 
    color: white;
}
.discrete 
{
    background-color: #8a6e34; 
    color: white;
}
.contemporary 
{
    background-color: #855040; 
    color: white;
}
.hci 
{
    background-color: #3f6a60; 
    color: white;
}
.fitness 
{
    background-color: #34495e; 
    color: white;
}
.sts 
{
    background-color: #d35400; 
    color: white;
}
